.usuario {
  padding-left: 8rem;
  padding-top: 2rem;
}

.text-inputs {
  padding-left: 6px;
  font-size: 15px;
  color: #DF3770;
}

.container-email {
  padding-right: 12rem;
  padding-bottom: 1rem;
}

.email {
  border: none;
  font-size: 15px;
  border-radius: 10px;
  outline: 0;
  padding-left: 1rem;
}

.container-nome {
  padding-right: 5rem;
  padding-bottom: 1rem;
}

.nome {
  border: none;
  font-size: 15px;
  border-radius: 10px;
  outline: 0;
  padding-left: 1rem;
}

.container-genero {
  padding-right: 14rem;
  padding-bottom: 1rem;
}

.genero {
  border: none;
  font-size: 15px;
  border-radius: 10px;
  outline: 0;
  cursor: pointer;
  padding-left: 1rem;
}

.container-cpf {
  padding-right: 22rem;
  padding-bottom: 1rem;
}

.cpf {
  border: none;
  font-size: 15px;
  border-radius: 10px;
  outline: 0;
  padding-left: 1rem;
}

.container-celular {
  padding-right: 20rem;
  padding-bottom: 1rem;
}

.celular {
  border: none;
  font-size: 15px;
  border-radius: 10px;
  outline: 0;
  padding-left: 1rem;
}

.container-radio-buttons {
  padding-top: 2rem;
  padding-left: 1rem;
  position: absolute;
  color: #DF3770;
}

.cuidador1 {
  cursor: pointer;
}

.cuidador2 {
  cursor: pointer;
}

.division-line {
  border-left: 1px solid #DF3670;
  height: 570px;
  left: 50%;
  position: absolute;
}

.container-lado-direito {
  padding-left: 5rem;
  margin-bottom: 2rem;
}

.container-cep {
  padding-right: 24rem;
  padding-bottom: 1rem;
}

.cep {
  border: none;
  font-size: 15px;
  border-radius: 10px;
  outline: 0;
  padding-left: 1rem;
}

.container-rua {
  padding-right: 5rem;
  padding-bottom: 1rem;
}

.rua {
  border: none;
  font-size: 15px;
  border-radius: 10px;
  outline: 0;
  padding-left: 1rem;
}

.container-numero {
  padding-right: 24rem;
  padding-bottom: 1rem;
}

.numero {
  border: none;
  font-size: 15px;
  border-radius: 10px;
  outline: 0;
  padding-left: 1rem;
}

.container-bairro {
  padding-right: 15rem;
  padding-bottom: 1rem;
}

.bairro {
  border: none;
  font-size: 15px;
  border-radius: 10px;
  outline: 0;
  padding-left: 1rem;
}

.container-cidade {
  padding-right: 15rem;
  padding-bottom: 1rem;
}

.cidade {
  border: none;
  font-size: 15px;
  border-radius: 10px;
  outline: 0;
  padding-left: 1rem;
}

.container-uf {
  padding-right: 25rem;
  padding-bottom: 1rem;
}

.uf {
  border: none;
  font-size: 15px;
  border-radius: 10px;
  outline: 0;
  cursor: pointer;
  padding-left: 1rem;
}

.container-senha {
  padding-right: 15rem;
  padding-bottom: 1rem;
}

.senha {
  border: none;
  font-size: 15px;
  border-radius: 10px;
  outline: 0;
  padding-left: 1rem;
}

.container-confirma_senha {
  padding-right: 15rem;
  padding-bottom: 1rem;
}

.confirma_senha {
  border: none;
  font-size: 15px;
  border-radius: 10px;
  outline: 0;
  padding-left: 1rem;
}

.container-submit {
  padding-left: 19rem;
  padding-bottom: 1rem;
}

.submit {
  background-color: #DF3770;
  color: #FFFFFF;
  font-size: 15px;
  padding-right: 10px;
  padding-left: 10px;
  border: none;
  cursor: pointer;
}

@media(max-width: 425px) {
  .usuario {
    padding-left: 0;
  }

  .col-6 {
    max-width: none;
    flex: none;
  }

  .container-email {
    padding-right: 6rem;
  }

  .container-genero {
    padding-right: 12rem;
  }

  .container-cpf {
    padding-right: 13rem;
  }

  .container-celular {
    padding-right: 11rem;
  }

  .checkbox-cuidador {
    padding-bottom: 2rem;
  }

  .division-line {
    display: none;
  }

  .container-cep {
    padding-right: 14rem;
  }

  .container-rua {
    padding-right: 2rem;
  }

  .container-numero {
    padding-right: 15rem;
  }

  .container-bairro {
    padding-right: 7rem;
  }

  .container-cidade {
    padding-right: 7rem;
  }

  .container-uf {
    padding-right: 16rem;
  }

  .container-senha {
    padding-right: 7rem;
  }

  .container-confirma_senha {
    padding-right: 7rem;
  }

  .container-submit {
    padding-left: 5rem;
  }
}
