.container-imagem-perfil {
  padding-bottom: 1rem;
}

.container-button-escolher-imagem {
  padding-bottom: 1rem;
  padding-right: 3rem;
  cursor: pointer;
}

.button-escolher-imagem {
  cursor: pointer;
}

.container-text-area {
  padding-bottom: 2rem;
  padding-top: 1rem;
}

.container-input-celular {
  padding-right: 21rem;
  margin-bottom: 1rem;
}

.icone-celular {
  padding-right: 1rem;
}

.container-button-tornarse-cuidador {
  padding-top: 1rem;
}

.button-tornarse-cuidador {
  border-radius: 10px;
  background-color: #DF3770;
  color: #FFFFFF;
  border: none;
  cursor: pointer;
  font-size: 20px;
}

.container-button-salvar {
  padding-left: 15rem;
  padding-top: 5rem;
  padding-bottom: 1rem;
}

.button-salvar {
  border-radius: 10px;
  background-color: #DF3770;
  color: #FFFFFF;
  border: none;
  cursor: pointer;
  font-size: 20px;
}
