.text-descricao-cuidador {
  padding-left: 20rem;
}

.text-servicos {
  padding-left: 20rem;
}

.subtext-servicos {
  padding-left: 20rem;
  color: #DF3770;
}

.container-text-area {
  padding-top: 1rem;
  padding-bottom: 2rem;
  padding-left: 20rem;
  padding-right: 10rem;
}

.text-area {
  resize: none;
}

.caracteres-descricao {
  color: #DF3770;
  padding-top: 0.2rem;
  font-size: 20px;
  padding-left: 37rem;
}

.caracteres-servicos {
  color: #DF3770;
  padding-top: 0.2rem;
  font-size: 20px;
  padding-left: 37rem;
}

.container-input-celular {
  padding-right: 36rem;
  padding-left: 20rem;
  margin-bottom: 1rem;
}

.icone-celular {
  padding-right: 1rem;
}

.text-animais {
  padding-top: 1rem;
  padding-bottom: 1rem;
  font-size: 30px;
  padding-left: 20rem;
  color: #DF3770;
}

.container-icones-animais {
  padding-top: 1rem;
  padding-bottom: 1.5rem;
  padding-left: 20.5rem;
}

.tipo-animal {
  color: #DF3770;
  padding-left: 0.5rem;
}

.icones-animais {
  padding-bottom: 1rem;
  padding-left: 0.5rem;
}

.checkbox-cachorro {
  cursor: pointer;
}

.container-checkbox-gato {
  padding-top: 1rem;
}

.checkbox-gato {
  cursor: pointer;
}

.container-checkbox-peixe {
  padding-top: 1rem;
}

.checkbox-peixe {
  cursor: pointer;
}

.container-checkbox-passarinho {
  padding-top: 1rem;
}

.checkbox-passarinho {
  cursor: pointer;
}

.container-checkbox-cavalo {
  padding-top: 1rem;
}

.checkbox-cavalo {
  cursor: pointer;
}

.container-button-salvar {
  padding-left: 37rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.button-salvar {
  border-radius: 10px;
  background-color: #DF3770;
  color: #FFFFFF;
  border: none;
  cursor: pointer;
  font-size: 20px;
}

@media(max-width: 425px) {
  .col-3 {
    max-width: none;
    flex: none;
  }

  .col-6 {
    max-width: none;
    flex: none;
  }

  .container-imagem-perfil {
    padding-left: 6rem;
  }

  .container-button-escolher-imagem {
    padding-right: 2rem;
  }

  .container-icones-animais {
    padding-left: 4.5rem;
  }

  .nome-cuidador {
    font-size: 20px;
    padding-left: 7rem;
  }

  .text-tier-cuidador {
    font-size: 17px;
    padding-left: 7rem;
  }

  .container-tier-cuidador {
    padding-left: 7.5rem;
  }

  .text-cuidados-realizados {
    font-size: 18px;
    padding-left: 8.5rem;
  }

  .cuidados-realizados {
    font-size: 18px;
    padding-left: 8.5rem;
  }

  .text-descricao-cuidador {
    font-size: 30px;
    padding-top: 2rem;
  }

  .text-servicos {
    font-size: 30px;
  }

  .form-control {
    width: auto;
  }

  .container-button-salvar {
    padding-left: 9rem;
  }

}
