.container-imagem-perfil {
  padding-bottom: 2rem;
}

.imagem-perfil-cliente {
  width: 140px;
  height: 140px;
}

.nome-cliente {
  color: #DF3770;
  font-size: 15px;
  padding-bottom: 2rem;
  padding-left: 2rem;
}

.text-tier-cliente {
  color: #DF3770;
  font-size: 12px;
  padding-left: 2rem;
}

.container-tier-cliente {
  padding-left: 1rem;
}

.container-pets {
  padding-top: 2rem;
  padding-bottom: 3rem;
  overflow: scroll;
  overflow-x: hidden;
  height: 200px;
  width: 100%;
}

.container-pets .row {
  padding-bottom: 1rem;
}

.imagem-perfil-cachorro {
  width: 46px;
  height: 46px;
}

.nome-pet {
  color: #DF3770;
  font-size: 12px;
}

.raca-pet {
  color: #DF3770;
  font-size: 12px;
  padding-top: 1rem;
}

.sexo-pet {
  color: #DF3770;
  font-size: 12px;
}

.icone-editar-pets {
  cursor: pointer;
}

.container-icone-adicionar-pet {
  padding-bottom: 4rem;
}

.icone-adicionar-pets {
  position: absolute;
  padding-top: 2rem;
  cursor: pointer;
}

.container-descricao {
  padding-top: 2rem;
}

.text-endereco {
  color: #DF3770;
}

.endereco {
  font-size: 17px;
}

.text-cpf {
  color: #DF3770;
}

.cpf {
  font-size: 17px;
}

.text-email {
  color: #DF3770;
}

.email {
  font-size: 17px;
}

.text-genero {
  color: #DF3770;
}

.genero {
  font-size: 17px;
}

.text-ecuidador {
  color: #DF3770;
}

.ecuidador {
  font-size: 17px;
}

.icone-celular {
  padding-right: 0.5rem;
}

.link-editar-perfil {
  color: #DF3770;
}

.link-editar-perfil:hover {
  color: #FF69B4;
}

.container-historico-cuidadores {
  padding-top: 2rem;
  overflow: scroll;
  overflow-x: hidden;
  height: 450px;
  width: 100%;
}

.container-historico-cuidadores .row {
  padding-bottom: 2rem;
  width: 100%;
}

.imagem-perfil-cuidador {
  width: 80px;
  height: 80px;
}

.nome-cuidador {
  font-size: 15px;
  color: #DF3770;
}

.button-avaliar-cuidador {
  background-color: #DF3770;
  color: #FFFFFF;
  cursor: pointer;
  font-size: 10px;
  border: none;
  border-radius: 13px;
}

.icone-flecha-subir{
  cursor: pointer;
}

.icone-flecha-descer {
  position: absolute;
  padding-top: 21rem;
  cursor: pointer;
}

.page-footer {
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1030;
}

@media(max-width: 425px) {
  .col {
    max-width: none;
    flex: none;
  }

  .col-6 {
    max-width: none;
    flex: none;
  }

  .col-md-auto {
    width: auto;
  }

  .col-5 {
    max-width: none;
  }

  .col-7 {
    max-width: none;
  }

  .container-imagem-perfil {
    padding-left: 6rem;
  }

  .nome-cliente {
    font-size: 20px;
    padding-left: 7rem;
  }

  .text-tier-cliente {
    font-size: 17px;
    padding-left: 7rem;
  }

  .container-tier-cliente {
    padding-left: 7.5rem;
  }

  .container-icone-adicionar-pet {
    padding-bottom: 2rem;
  }

  .icone-adicionar-pets {
    width: 18px;
  }

  .container-pets {
    padding-left: 2rem;
  }

  .icone-editar-pets {
    width: 20px;
  }

  .text-descricao-cliente {
    font-size: 30px;
    padding-top: 4rem;
  }

  .page-footer{
    position: inherit;
  }
}
