.container-imagem-perfil {
  padding-bottom: 2rem;
}

.imagem-perfil-cliente {
  width: 140px;
  height: 140px;
}

.nome-cliente {
  color: #DF3770;
  font-size: 15px;
  padding-bottom: 2rem;
  padding-left: 2rem;
}

.text-tier-cliente {
  color: #DF3770;
  font-size: 12px;
  padding-left: 2rem;
}

.container-tier-cliente {
  padding-left: 1rem;
}

.container-pets {
  padding-top: 2rem;
  padding-bottom: 3rem;
}

.imagem-perfil-cachorro {
  width: 46px;
  height: 46px;
}

.nome-pet {
  color: #DF3770;
  font-size: 12px;
}

.raca-pet {
  color: #DF3770;
  font-size: 12px;
  padding-top: 1rem;
}

.sexo-pet {
  color: #DF3770;
  font-size: 12px;
}

.icone-editar-pets {
  cursor: pointer;
}

.icone-adicionar-pets {
  position: absolute;
  padding-top: 6rem;
  cursor: pointer;
}

.text-descricao-cliente {
  color: #DF3770;
  font-size: 35px;
}

.descricao-cliente {
  font-size: 17px;
  align-items: center;
  justify-content: center;
}

.celular {
  padding-top: 2rem;
}

.icone-celular {
  padding-right: 0.5rem;
}

.container-historico-cuidadores {
  padding-top: 2rem;
  overflow: scroll;
  overflow-x: hidden;
  height: 450px;
  width: 100%;
}

.container-historico-cuidadores .row {
  padding-bottom: 2rem;
  width: 100%;
}

.imagem-perfil-cuidador {
  width: 80px;
  height: 80px;
}

.nome-cuidador {
  font-size: 15px;
  color: #DF3770;
}

.button-avaliar-cuidador {
  background-color: #DF3770;
  color: #FFFFFF;
  cursor: pointer;
  font-size: 10px;
  border: none;
  border-radius: 13px;
}

.icone-flecha-subir{
  cursor: pointer;
}

.icone-flecha-descer {
  position: absolute;
  padding-top: 21rem;
  cursor: pointer;
}
